html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ul {
  list-style-type: none;
  margin: .3em;
  padding: .6em;
}

nav li {
  display: inline;
}

nav a{
  display: inline-block;
  width: 6em;
  padding: .5em .75em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
