html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  margin: 0;
  border-color: #595652;
  border-top: 0.6em;
  border-bottom: 0.6em;
}

body {
  margin: 0;
}

h1 {
  font-family: "Bevan",sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: .3em;
  padding: .6em;
}

nav li {
  display: inline;
}

nav a{
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #f33;
}
